- if current_user.try(:admin)
  - content_for :admin_nav do
    = button_to "New Announcement", new_admin_announcement_path, :method => :get,
      :id => "new-announcement"

%p.header-information
  Bookmark this page and visit it often to keep track of news about puzzlenode,
  including new problems or fixes to existing problems. You can also keep track
  of new announcements through this page's
  = link_to "RSS feed", announcements_path(:format => "rss")

%p.header-information
  If you think you have found a defect in one of our puzzles and it is not listed
  below, contact us at puzzlenode@gmail.com. You may also be able to find help
  by checking out the #mendicant channel on Freenode.

#announcements
  - @announcements.each do |announcement|
    = render :partial => "announcement",
      :locals => {:announcement => announcement}

= will_paginate @announcements