#left_right
  .center
    Connect with these services
  .left
    = link_to '/auth/twitter' do
      = image_tag("icons/login/twitter.png")
      twitter
  .right
    = link_to '/auth/github' do
      = image_tag("icons/login/github.png")
      github