- content_for :header_bottom do
  :javascript
    $(function(){
      $('#logo').addClass('loading');
    });

  :plain
    <meta http-equiv="REFRESH" content="2;url=/auth/github">

#redirect
  %h1 Redirecting to Github for login

  %h3 You will be returned to puzzlenode after you login

  = link_to "Click here if you are not redirected to github", "/auth/github"