- content_for :header_bottom do
  :plain
    <meta http-equiv="REFRESH" content="2;url=/auth/github">

#redirect
  %h1 Redirecting to Github for login
  
  %h3 You will be returned to puzzlenode after you login
  
  Click
  = link_to "here", "/auth/github"
  if you are not redirected to github