.bundle
db/*.sqlite3
log/*.log
tmp
.rvmrc
*.swp
.sass-cache
config/database.yml
config/omniauth.yml
public/attachments
public/assets
lib/development_mail_interceptor.rb
.idea
Vagrantfile
.vagrant
bin/
public/uploads
