.bundle
db/*.sqlite3
log/*.log
tmp/**/*
.rvmrc
*.swp
.sass-cache
config/database.yml
config/omniauth.yml
public/attachments
public/assets
config/initializers/secret_token.rb
config/initializers/setup_mail.rb
lib/development_mail_interceptor.rb
config/initializers/mail_settings.rb
config/initializers/omniauth.rb
