#puzzle-rating
  = form_for @rating, :url => rate_user_submission_path(current_user, @submission), :remote => true do |f|
    %h3
      Now that you've solved this puzzle, how would you rate its difficulty?
    %ul
      - Rating::DIFFICULTIES.each do |rating|
        %li
          = f.radio_button :difficulty, rating
          = f.label :difficulty, rating, :value => rating
    %p= f.submit "Rate It"
