/* line 14, ../../../../../../.rvm/gems/ruby-1.9.2-p0@puzzlenode/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 17, ../../../../../../.rvm/gems/ruby-1.9.2-p0@puzzlenode/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
  color: black;
  background: white;
}

/* line 19, ../../../../../../.rvm/gems/ruby-1.9.2-p0@puzzlenode/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 21, ../../../../../../.rvm/gems/ruby-1.9.2-p0@puzzlenode/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 23, ../../../../../../.rvm/gems/ruby-1.9.2-p0@puzzlenode/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 25, ../../../../../../.rvm/gems/ruby-1.9.2-p0@puzzlenode/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: "" "";
}
/* line 96, ../../../../../../.rvm/gems/ruby-1.9.2-p0@puzzlenode/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}

/* line 27, ../../../../../../.rvm/gems/ruby-1.9.2-p0@puzzlenode/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

@font-face {
  font-family: "TinyBoxBlackBitA8Regular";
  src: url("/fonts/tinybbba-webfont.eot?") format("eot"), url("/fonts/tinybbba-webfont.woff") format("woff"), url("/fonts/tinybbba-webfont.ttf") format("truetype"), url("/fonts/tinybbba-webfont.svg#webfont53HmssFB") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 1, ../../../app/stylesheets/partials/_layout.sass */
body {
  font: 13px/1.231 sans-serif;
  color: #292929;
  background-color: #333333;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
}

/* line 8, ../../../app/stylesheets/partials/_layout.sass */
header {
  padding: 1.25em;
  padding-bottom: 0;
  background: white;
}
/* line 13, ../../../app/stylesheets/partials/_layout.sass */
header h1 {
  margin: 0;
}
/* line 16, ../../../app/stylesheets/partials/_layout.sass */
header #logo {
  height: 139px;
  background: white url(/images/puzzlenode_background.png) no-repeat center;
  margin-bottom: 2em;
}
/* line 20, ../../../app/stylesheets/partials/_layout.sass */
header #logo h1 {
  font-family: "TinyBoxBlackBitA8Regular";
  font-size: 48px;
  line-height: 70px;
  color: #305896;
  padding-top: 20px;
  text-align: center;
}
/* line 28, ../../../app/stylesheets/partials/_layout.sass */
header #logo h1 a {
  font-family: "TinyBoxBlackBitA8Regular";
  color: #305896;
}
/* line 31, ../../../app/stylesheets/partials/_layout.sass */
header #logo h1 a:hover {
  color: #3665ae;
  text-decoration: none;
}
/* line 34, ../../../app/stylesheets/partials/_layout.sass */
header nav {
  background: #fe7f2f;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #ffa027), color-stop(100%, #fe7f2f));
  background-image: -moz-linear-gradient(top, #ffa027 0%, #fe7f2f 100%);
  background-image: linear-gradient(top, #ffa027 0%, #fe7f2f 100%);
  color: white;
  padding: 0.5em 1em;
  margin-top: 0.5em;
  font-size: 1.25em;
  position: relative;
  margin: 0 -1em;
}
/* line 44, ../../../app/stylesheets/partials/_layout.sass */
header nav ul {
  list-style: none outside none;
}
/* line 46, ../../../app/stylesheets/partials/_layout.sass */
header nav ul li {
  display: inline;
  float: left;
  list-style-image: none;
  list-style-type: none;
  margin-right: 2em;
  white-space: nowrap;
  position: relative;
}
/* line 55, ../../../app/stylesheets/partials/_layout.sass */
header nav ul li.right {
  float: right;
  margin-right: 0;
}
/* line 59, ../../../app/stylesheets/partials/_layout.sass */
header nav ul li a {
  display: block;
  color: white;
  text-shadow: #333333 1px 0 2px;
  font-family: "TinyBoxBlackBitA8Regular";
  font-size: 1.1em;
  padding-top: 0.3em;
}
/* line 66, ../../../app/stylesheets/partials/_layout.sass */
header nav ul li a:hover {
  color: white;
  text-decoration: none;
  text-shadow: #333333 1px 1px 5px;
}
/* line 72, ../../../app/stylesheets/partials/_layout.sass */
header nav div.clear {
  clear: both;
}

/* line 76, ../../../app/stylesheets/partials/_layout.sass */
.wrap {
  width: 970px;
  margin: 0 auto;
}

/* line 80, ../../../app/stylesheets/partials/_layout.sass */
#content {
  background-color: #305896;
  padding: 1.25em;
  color: #f9f9f9;
  font-size: 16px;
  min-height: 400px;
  border-bottom: 1px solid #254980;
  border-top: 1px solid #254980;
}

/* line 89, ../../../app/stylesheets/partials/_layout.sass */
::-moz-selection {
  background: #fe7f2f;
  color: white;
  text-shadow: none;
}

/* line 93, ../../../app/stylesheets/partials/_layout.sass */
::selection {
  background: #fe7f2f;
  color: white;
  text-shadow: none;
}

/* line 2, ../../../app/stylesheets/partials/_puzzles.sass */
#puzzles .puzzle {
  margin: 1em 0;
}
/* line 4, ../../../app/stylesheets/partials/_puzzles.sass */
#puzzles .puzzle .description {
  padding: 0.5em 0;
}
/* line 7, ../../../app/stylesheets/partials/_puzzles.sass */
#puzzles .puzzle .description {
  border-top: 2px solid #254980;
}
/* line 9, ../../../app/stylesheets/partials/_puzzles.sass */
#puzzles .puzzle .action {
  float: right;
  opacity: 0.25;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=25);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=25);
}
/* line 13, ../../../app/stylesheets/partials/_puzzles.sass */
#puzzles .puzzle h3 {
  margin: 0;
  font-size: 1.5em;
}
/* line 16, ../../../app/stylesheets/partials/_puzzles.sass */
#puzzles .puzzle h3 a {
  color: #eeeeee;
  text-shadow: #222222 1px 1px 5px;
  font-family: "TinyBoxBlackBitA8Regular";
}
/* line 20, ../../../app/stylesheets/partials/_puzzles.sass */
#puzzles .puzzle h3 a:hover {
  text-decoration: none;
  color: #c8dbe6;
}
/* line 23, ../../../app/stylesheets/partials/_puzzles.sass */
#puzzles .puzzle:hover .action {
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
}

/* line 27, ../../../app/stylesheets/partials/_puzzles.sass */
#puzzle h1 {
  margin-top: 0;
  margin-bottom: 0.5em;
  font-family: "TinyBoxBlackBitA8Regular";
  text-shadow: #222222 1px 1px 5px;
  border-bottom: 5px solid #254980;
  padding-bottom: 0.25em;
}
/* line 34, ../../../app/stylesheets/partials/_puzzles.sass */
#puzzle h1 a:hover {
  text-decoration: none;
  color: #c8dbe6;
}
/* line 39, ../../../app/stylesheets/partials/_puzzles.sass */
#puzzle #description h2 {
  border-bottom: 2px solid #254980;
  padding-bottom: 0.25em;
  color: #c8dbe6;
  text-shadow: #222222 1px 1px 2px;
}
/* line 45, ../../../app/stylesheets/partials/_puzzles.sass */
#puzzle #description pre {
  padding: 1em;
  background-color: #254980;
}
/* line 49, ../../../app/stylesheets/partials/_puzzles.sass */
#puzzle #action {
  margin-top: 1em;
  border-top: 5px solid #254980;
  padding-top: 1em;
}
/* line 53, ../../../app/stylesheets/partials/_puzzles.sass */
#puzzle #action button {
  width: auto;
  padding: 0.5em;
  font-size: 1.25em;
}
/* line 57, ../../../app/stylesheets/partials/_puzzles.sass */
#puzzle form {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
}
/* line 60, ../../../app/stylesheets/partials/_puzzles.sass */
#puzzle form input {
  font-size: 0.75em;
  margin: 1em 0;
}
/* line 64, ../../../app/stylesheets/partials/_puzzles.sass */
#puzzle form input[type=file] {
  width: 420px;
}
/* line 67, ../../../app/stylesheets/partials/_puzzles.sass */
#puzzle form .step {
  background-color: #254980;
  height: 10em;
}
/* line 70, ../../../app/stylesheets/partials/_puzzles.sass */
#puzzle form .step .container {
  padding: 1em;
}
/* line 73, ../../../app/stylesheets/partials/_puzzles.sass */
#puzzle form .step .container h3 {
  margin-top: 0;
}
/* line 75, ../../../app/stylesheets/partials/_puzzles.sass */
#puzzle form .step.one {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 470px;
}
/* line 138, ../../../../../../.rvm/gems/ruby-1.9.2-p0@puzzlenode/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #puzzle form .step.one {
  overflow-x: hidden;
}
/* line 78, ../../../app/stylesheets/partials/_puzzles.sass */
#puzzle form .step.two {
  display: inline;
  float: left;
  margin-right: 0;
  width: 470px;
}
/* line 138, ../../../../../../.rvm/gems/ruby-1.9.2-p0@puzzlenode/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #puzzle form .step.two {
  overflow-x: hidden;
}

/* line 1, ../../../app/stylesheets/partials/_session.sass */
#left_right {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
  margin: 0 -1.25em;
}
/* line 5, ../../../app/stylesheets/partials/_session.sass */
#left_right div {
  text-align: center;
  font-size: 2em;
}
/* line 9, ../../../app/stylesheets/partials/_session.sass */
#left_right div a {
  padding: 1em 2em;
  display: inline-block;
  background-color: #fe7f2f;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #ffa027), color-stop(100%, #fe7f2f));
  background-image: -moz-linear-gradient(top, #ffa027 0%, #fe7f2f 100%);
  background-image: linear-gradient(top, #ffa027 0%, #fe7f2f 100%);
  border: 2px solid #b8741c;
  color: white;
  margin: 1em;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  font-family: "TinyBoxBlackBitA8Regular";
}
/* line 20, ../../../app/stylesheets/partials/_session.sass */
#left_right div a:hover {
  text-decoration: none;
  color: #305896;
}
/* line 24, ../../../app/stylesheets/partials/_session.sass */
#left_right .left {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 470px;
}
/* line 138, ../../../../../../.rvm/gems/ruby-1.9.2-p0@puzzlenode/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #left_right .left {
  overflow-x: hidden;
}
/* line 26, ../../../app/stylesheets/partials/_session.sass */
#left_right .right {
  display: inline;
  float: left;
  margin-right: 0;
  width: 470px;
}
/* line 138, ../../../../../../.rvm/gems/ruby-1.9.2-p0@puzzlenode/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #left_right .right {
  overflow-x: hidden;
}

/* line 1, ../../../app/stylesheets/partials/_footer.sass */
#footer {
  color: #eeeeee;
  min-height: 100px;
  padding: 1.25em 0;
  border-top: 1px solid #0f1d32;
}
/* line 7, ../../../app/stylesheets/partials/_footer.sass */
#footer .container {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
}
/* line 10, ../../../app/stylesheets/partials/_footer.sass */
#footer .about {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 390px;
  padding-right: 80px;
}
/* line 138, ../../../../../../.rvm/gems/ruby-1.9.2-p0@puzzlenode/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #footer .about {
  overflow-x: hidden;
}
/* line 13, ../../../app/stylesheets/partials/_footer.sass */
#footer .contact {
  display: inline;
  float: left;
  margin-right: 0;
  width: 390px;
  padding-left: 80px;
  text-align: right;
}
/* line 138, ../../../../../../.rvm/gems/ruby-1.9.2-p0@puzzlenode/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #footer .contact {
  overflow-x: hidden;
}
/* line 17, ../../../app/stylesheets/partials/_footer.sass */
#footer .bottom {
  display: inline;
  float: left;
  margin-right: 0;
  width: 950px;
  text-align: center;
  margin-top: 1em;
}
/* line 138, ../../../../../../.rvm/gems/ruby-1.9.2-p0@puzzlenode/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #footer .bottom {
  overflow-x: hidden;
}

/* line 1, ../../../app/stylesheets/partials/_flash.sass */
#flash {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0.9;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
}
/* line 9, ../../../app/stylesheets/partials/_flash.sass */
#flash .flash {
  text-align: center;
  padding: 0.5em;
  font-size: 2em;
}
/* line 14, ../../../app/stylesheets/partials/_flash.sass */
#flash .flash.notice {
  background-color: #88cc88;
  color: #225522;
}
/* line 18, ../../../app/stylesheets/partials/_flash.sass */
#flash .flash.error {
  background-color: #cc8888;
  color: #552222;
}

/* line 21, ../../../app/stylesheets/screen.sass */
h1, h2, h3 {
  margin: 1em 0;
}

/* line 24, ../../../app/stylesheets/screen.sass */
h1 {
  font-size: 2em;
}

/* line 27, ../../../app/stylesheets/screen.sass */
h2 {
  font-size: 1.75em;
}

/* line 30, ../../../app/stylesheets/screen.sass */
h3 {
  font-size: 1.5em;
}

/* line 33, ../../../app/stylesheets/screen.sass */
a {
  text-decoration: none;
  color: white;
}
/* line 37, ../../../app/stylesheets/screen.sass */
a:visited {
  color: white;
}
/* line 39, ../../../app/stylesheets/screen.sass */
a:hover {
  color: #fe7f2f;
  text-decoration: underline;
}

/* line 43, ../../../app/stylesheets/screen.sass */
input {
  margin: 1em 0;
}

/* line 46, ../../../app/stylesheets/screen.sass */
p {
  margin: 1.5em 0;
}

/* line 49, ../../../app/stylesheets/screen.sass */
.clearfix {
  overflow: hidden;
  *zoom: 1;
  clear: both;
}

/* line 53, ../../../app/stylesheets/screen.sass */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 57, ../../../app/stylesheets/screen.sass */
pre, code {
  font-family: Monaco, "Courier New", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", monospace;
}
