#comments
  .comment
    margin-bottom: 0.5em
    .header
      background-color: $pn_dark_blue
      padding: 0.5em
      padding-bottom: 0.75em
      margin-bottom: 0.5em
      .info
        margin-left: 1em
        display: inline-block
        font-size: 0.75em
        text-align: right
        color: #ccc
      
  // #new-comment
  //   margin-top: 0.5em
  //   border-top: 2px solid $pn_dark_blue
  //   padding-top: 0.5em
  
  textarea
    width: 100%
  
  .action
    float: right