#footer
  color: #eee
  min-height: 100px
  padding-top: 1.25em
  border-top: 1px solid #0F1D32
  
  .container
    +container
  
  .about
    +column(10)
    +append(2)
  .contact
    +column(10, true)
    +prepend(2)
    text-align: right
  .bottom
    +column(24, true)
    text-align: center
    margin-top: 1em