html, body
  height: 100%

body
  font-family: "lucida grande", "Lucida Sans", "Helvetica", sans-serif
  font-size: 12px
  line-height: 1.24em
  background-color: $pn_blue
  color: #292929

header
  padding: 1.25em
  background: #fff
  
  #logo
    height: 139px
    background: #fff url(/images/puzzlenode_background.png) no-repeat center
    h1
      font-family: 'TinyBoxBlackBitA8Regular'
      font-size: 48px
      line-height: 70px
      color: $pn_blue
      padding-top: 20px
      text-align: center
  
  h1.logo
    a
      font-family: 'TinyBoxBlackBitA8Regular'
      font-size: 36px
      line-height: 40px
      color: $pn_blue
      &:hover
        color: #4966C1
  nav
    background: $pn_orange
    +linear-gradient(color-stops(#FFA027,$pn_orange))
    color: #fff
    padding: 0.5em
    margin: 0.5em 0
    font-size: 1.25em
    position: relative
    
    #node
      position: absolute
      background: transparent url(/images/line_node.png) no-repeat
      width: 219px
      height: 139px
      top: -102px
      left: -195px
      
    
    ul
      list-style: none outside none
      padding-left: 2em
      li
        display: inline
        float: left
        list-style-image: none
        list-style-type: none
        margin-right: 2em
        white-space: nowrap
        position: relative
        a
          display: block
          color: #fff
          +text-shadow(#333, 1px, 0px, 2px)
          font-family: 'TinyBoxBlackBitA8Regular'
          font-size: 1.1em
          padding-top: 0.3em
        
        
    div.clear
      clear: both
    
    
#wrap
  background: #fff
  width: 970px
  margin: 0 auto
  +box-shadow(#000, 0px, 0px, 15px)
  
#content
  padding: 1.25em
  min-height: 400px
  
a
  text-decoration: none