#puzzles
  .puzzle
    margin: 1em 0
    +box-shadow(#333, 1px, 1px, 5px)
    .name, .description
      padding: 0.5em
    .name
      +border-top-radius(5px)
      background-color: $pn_orange
      +linear-gradient(color-stops(#FFA027,$pn_orange))
      font-weight: bold
      color: #254980
      .links
        float: right
        display: inline-block
        color: #E37029
        
        a:hover
          color: #fff
    .description
      background-color: #254980
      
    