#puzzles
  .puzzle
    margin: 1em 0
    .description
      padding: 0.5em 0
    
    .description
      border-top: 2px solid #254980
      //background-color: #254980
      //+box-shadow(#333, 1px, 1px, 5px, inset)
    .action
      float: right
    
    h3
      margin: 0
      font-size: 1.5em
      a
        color: #eee
        +text-shadow(#222, 1px, 1px, 5px)
        font-family: 'TinyBoxBlackBitA8Regular'
        &:hover
          text-decoration: none
          color: $pn_light_blue
      
      
    