#puzzles
  .puzzle
    .description
      padding: 0.5em 0
    
    .description
      border-top: 2px solid #254980
    .action
      float: right
    
    a
      color: #eee
      +text-shadow(#222, 1px, 1px, 3px)
      letter-spacing: 0.05em
      font-family: 'inero'
      font-size: 3em
      &:hover
        text-decoration: none
        color: $pn_light_blue
      
#puzzle
  h1
    margin-top: 0
    margin-bottom: 0.25em
    font-family: 'inero'
    +text-shadow(#222, 1px, 1px, 5px)
    border-bottom: 5px solid #254980
    font-size: 3.5em
    a:hover
      text-decoration: none
      color: $pn_light_blue
  
  #description
    h2
      border-bottom: 2px solid #254980
      padding-bottom: 0.25em
      color: $pn_light_blue
      +text-shadow(#222, 1px, 1px, 2px)
      
    pre
      padding: 1em
      background-color: $pn_dark_blue
      
  #action
    margin-top: 1em
    border-top: 5px solid #254980
    padding-top:  1em
    
    button
      font-size: 1.25em
  form
    +container
    
    input
      font-size: 0.75em
      margin: 1em 0
    
      &[type=file]
        width: 420px
    
    .step
      background-color: $pn_dark_blue
      height: 8em
      .container
        padding: 1em
        
        h3
          margin-top: 0
          font-size: 1.25em
    .step.one
      +column(12)

    .step.two
      +column(12, true)