#left_right
  +container
  margin: 0 -1.25em
  
  div
    text-align: center
    font-size: 2em
    
    a
      padding: 1em
      display: block
      background-color: $pn_orange
      +linear-gradient(color-stops(#FFA027,$pn_orange))
      border: 2px solid #B8741C
      color: #fff
      margin: 1em
      +border-radius(10px)
      font-family: 'TinyBoxBlackBitA8Regular'
      
      img
        display: block
        margin: 0 auto
        margin-bottom: 1em
      
      &:hover
        text-decoration: none
        background-color: #FFA027
        +linear-gradient(color-stops(#FFA027,#FFA027))
        color: $pn_blue
  
  .left
    +column(12)
  .right
    +column(12, true)
  .center
    +column(24, true)