Puzzlenode::Application.configure do
  # Don't care if the mailer can't send
  config.action_mailer.raise_delivery_errors = true
  config.action_mailer.perform_deliveries = true
  config.action_mailer.delivery_method = :mailhopper
  config.action_mailer.smtp_settings = {
    :enable_starttls_auto => true,
    :address              => "smtp.gmail.com",
    :port                 => 587,
    :authentication       => 'plain',
    :user_name            => 'your username',
    :password             => 'your password',
  }
end
