.container
  .about
    PuzzleNode was created by 
    = link_to "Ruby Mendicant University", "http://university.rubymendicant.com"
  .contact
    Problems? Suggestions? Contact us at support@puzzlenode.com
  .bottom
    = link_to image_tag("rmu.png"), "http://university.rubymendicant.com"