.container
  .about
    PuzzleNode was created by 
    = link_to "Ruby Mendicant University", "http://university.rubymendicant.com"
  .contact
    Problems? Suggestions? Contact us at support@puzzlenode.com
  .bottom
    = link_to "http://university.rubymendicant.com" do
      #rmu-logo