$pn_blue   = #305896
$pn_orange = #FE7F2F

@import compass/reset
@import compass/css3/box-shadow
@import compass/css3/text-shadow
@import compass/css3/gradient
@import compass/css3/border-radius
@import blueprint/grid
@import partials/fonts
@import partials/layout
@import partials/home
@import partials/session

h1, h2, h3 
  margin: 1em 0

h1 
  font-size: 2em

h2 
  font-size: 1.75em

h3 
  font-size: 1.5em

a 
  text-decoration: none
  color: #fff
  
  &:visited
    color: #fff
  &:hover
    color: $pn_orange
    text-decoration: underline

input
  margin: 1em 0

p
  margin: 1.5em 0