%h2 Solvin Puzzles with yo Codez

- if signed_in?
  = "Welcome #{current_user.name}"
- else
  = link_to login_path do
    %div.big
      Sign up / Log in

= link_to puzzles_path do
  %div.big
    Puzzles