# S3 keys for Carrierwave
S3_KEY:
S3_SECRET:

# Mail
SMTP_ADDRESS:
SMTP_DOMAIN:
SMTP_USERNAME:
SMTP_PASSWORD:

# Github keys for OmniAuth
GITHUB_CONSUMER_KEY:
GITHUB_CONSUMER_SECRET:

# Secret token
PN_SECRET_TOKEN: <%= secret %>
