= render :partial => "form",
  :locals => {:url => admin_puzzle_path(@puzzle)}

#puzzle-difficulties
  %ul
    Difficulties
    - @difficulties.each do |difficulty, count|
      %li= "#{difficulty} (#{count})"
