#puzzle
  %h1= @puzzle.name

  = form_for @submission, :url => puzzle_submissions_path(@puzzle), 
    :html => {:multipart => true} do |f|
  
    .step.one
      .container
        %h3 1. Select your solution file
        = f.file_field :file
    .step.two
      .container
        %h3 2. Submit your solution
        = f.submit "Submit my solution", :class => "cupid-green"
          