- size ||= "small"

- if puzzle.answered_correctly?(current_user) || current_user.try(:admin)
  %button.clean-gray{:'data-url' => puzzle_comments_path(puzzle), :class => size}
    View Discussion
- if show_solution_button?(current_user, puzzle)
  %button.clean-gray{:'data-url' => new_puzzle_submission_path(puzzle), :class => size}
    Submit your solution
