#puzzles
  - @puzzles.each do |puzzle|
    //= link_to puzzle_path(puzzle) do
    .puzzle
      = link_to puzzle.name, puzzle_path(puzzle)
      
      .description
        .action
          - if puzzle.answered_correctly? current_user
            %button.clean-gray{:'data-url' => puzzle_comments_path(puzzle)}
              View Comments
          - else
            %button.clean-orange{:'data-url' => puzzle_path(puzzle)}
              View Puzzle
        = puzzle.short_description
        .clearfix