#puzzle
  %h1= @puzzle.name
  
  #description
    = md @puzzle.description
  #action
    - if @puzzle.answered_correctly? current_user
      %button.clean-gray{:'data-url' => puzzle_comments_path(@puzzle)}
        View Comments
    - else
      %button.cupid-green{:'data-url' => new_puzzle_submission_path(@puzzle)}
        Submit my solution