#puzzle
  %h1= @puzzle.name
  
  #description
    = md @puzzle.description
    - if @puzzle.attachments.any?
      %h2 Files
      #files
        - @puzzle.attachments.map do |file|
          = link_to image_tag("icons/file_small.png") + file.file_name,
            file.public_path, :target => "_blank"
  #action
    - if @puzzle.answered_correctly? current_user
      %button.clean-gray.large{:'data-url' => puzzle_comments_path(@puzzle)}
        View Comments
    - else
      %button.clean-orange.large{:'data-url' => new_puzzle_submission_path(@puzzle)}
        Submit my solution